.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 13px 0;
    background-color: #DB4C3F;
    color: white;
  }

.header h1 {
  margin-left: 30px;
  font-size: 1.1rem;
} 