
.sidebar {
    background-color: #f7f7f7;
    padding-top: 30px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 0.9rem;
}

.sidebar h2 {
    font-size: 0.9rem;
    padding-bottom: 10px;
    margin-left: 5px;
}

.first-links,
.second-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-bottom: 40px;
    padding-left: 0px;
    margin-right: 18px;
}


.first-links li,
.second-links li{
    display: flex;
    align-items: center;
    gap: 8px;
}

.first-links span,
.second-links span{
    cursor: pointer;
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
}


.first-links span:hover,
.second-links span:hover{
    background-color: #d6d6d6;
}

.first-links img,
.second-links img {
    width: 21px;
}