@import 'style.css';

.sidebar {
    background-color: #f7f7f7;
    padding-top: 30px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 0.9rem;
}

.sidebar h2 {
    font-size: 0.9rem;
    padding-bottom: 10px;
    margin-left: 5px;
}

.first-links,
.second-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-bottom: 40px;
    padding-left: 0px;
    margin-right: 18px;
}


.first-links li,
.second-links li{
    width: 100%;
}

#list-projects {
    width: 100%;
}

.first-links button.btn-project,
.second-links button.btn-project{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    background-color: #f7f7f7;
}

#btn-add-project {
    background-color: #f7f7f7;;
}

#btn-add-project:hover {
    background-color: #d6d6d6;
}




.first-links button.btn-project:hover,
.second-links button.btn-project:hover{
    background-color: #d6d6d6;
}

.first-links img,
.second-links img {
    width: 21px;
}

button.btn-project[active] {
    background-color: #d6d6d6;
}

#add-project-form {
    padding-left: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin-top: 8px;
}


#add-project-form input{
    height: 35px;
    width: 100%;
    padding-left: 5px;
}


#add-project-buttons {
    display: flex;
    justify-content: space-around;
}

.btn-add,
.btn-cancel{
    padding : 10px 20px;
    border: none;
    border-radius: 5px;
    width: 80px;
    text-align: center;
}

.btn-add:not([disabled]) {
    background-color: var(--not-hover-add-button-color);
    color: white;
}

.btn-add[disabled] {
    background-color: var(--disabled-add-button-color);
    color: white;
}

.btn-add:hover:not([disabled]) {
    background-color: var(--hover-add-button-color);
    cursor: pointer;
}


.btn-cancel {
    background-color: var(--not-active-cancel-button-color);
    color: var(--font-color);
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: #b0b0b0;
}


#add-project-form:not([active]) {
    display: none;
}

#btn-add-project:not([active]) {
    display: none;
}

.project-button-container {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-button-sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.btn-delete-project {
    visibility: hidden;
    opacity: 0;
    /* //transition: visibility 2s 1s, opacity 1s linear; */
    transition: opacity 0.4s;

}

.btn-project:hover .btn-delete-project {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s;

}




